{% extends 'base.html' %}
<div>
{% block content %}
  <p>{{post.autor}}</p>
  {% if post.autor.avatar %}
  <img alt="{{post.autor}}" src="{{post.autor.avatar.url}}"  height="140" width="140";>
  {% endif %}
  <h1>{{ post.titulo }}</h1>
  <p>--sub-titulo--</p>
  <p>{{post.sub_titulo}}</p>
  <p>--texto--</p>
  <h1>{{post.texto}}</h1>
  <p>--categoria--</p>
  <h1>{{post.categoria}}</h1>
  <p>--tags--</p>
  {% for tag in post.tags.all %}
  <p>{{tag}}</p>
  {% endfor %}
  <p>--imagem--</p>
  <img src="{{post.post_image.url}}" alt="{{post.titulo}}" height="140" width="140">
  {% if post.audio_post %}
  <audio controls>
  <source src="{{post.audio_post.url }}" type="audio/ogg">
  <source src="{{post.audio_post.url }}" type="audio/mpeg">
  Seu Navegador não suporta elemento de áudio
  </audio>
  {% endif %}
</div>
<a href='{{post.facebook_link}}'>Compartilhar no facebook</a>
<a href='{{post.twitter_link}}'>Compartilhar no twitter</a>
<a href='{{post.linkedin_link}}'>Compartilhar no linkedin</a>
<br>
<div class="fb-comments" data-href="http://127.0.0.1:8000/{{post.slug}}" data-width="" data-numposts="5"></div>
{% endblock content %}

