<style>


.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
</style>
<ul class="pagination d-flex justify-content-center" style="margin-top:20px;">
{% if posts.has_previous %}
    <li><a style="color:black;" href="?page={{ posts.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
{% else %}
    <li class="disabled"><span><a><i class="fa fa-chevron-left" aria-hidden="true"></a></i></span></li>
{% endif %}

{% if posts.number|add:'-4' > 1 %}
    <li><a style="color:black;" href="?page={{ posts.number|add:'-5' }}">&hellip;</a></li>
{% endif %}

{% for i in posts.paginator.page_range %}
    {% if posts.number == i %}
        <li class="active" style="background-color: #08f;color: white;padding: 8px 16px;border-radius: 5px;"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% elif i > posts.number|add:'-5' and i < posts.number|add:'5' %}
        <li><a style="color:black;" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
{% endfor %}

{% if posts.paginator.num_pages > posts.number|add:'4' %}
    <li><a style="color:black;" href="?page={{ posts.number|add:'5' }}">&hellip;</a></li>
{% endif %}

{% if posts.has_next %}
    <li><a style="color:black;" href="?page={{ posts.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
{% else %}
    <li class="disabled"><span><a><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a></li>
{% endif %}

</ul>