asgiref==3.3.1
autopep8==1.5.4
coverage==5.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.5
django-stdimage==5.1.1
gunicorn==20.0.4
Pillow==8.1.0
progressbar2==3.53.1
psycopg2-binary==2.8.6
pycodestyle==2.6.0
python-utils==2.5.2
pytz==2020.5
six==1.15.0
sqlparse==0.4.1
static3==0.7.0
toml==0.10.2